*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1180px;
    padding: 0 2%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


section{
    padding: 15px;
    text-align: center;
    height: 100%;
}

.wrapper-sec{
    border: 1px solid rgb(40,40,40);
    width: 100%;
    height: 100%;
    position: relative;
}


h1{
    color: #000;
    text-align: center;
    font-family: Irish Grover;
    font-size: 25px;
    font-weight: 300;
}

.buttons a{
    width: 100%;
    max-width: 350px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: #000;
}

.buttons{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}



